{% extends "admin/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Администрирование' %} {{ site_name }} | {{ version_name }}{% endblock %}
{% block extrahead %}
    <link rel="icon" type="image/png" href="{% static "img/favicon/favicon-96x96.png" %}" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="{% static "img/favicon/favicon.svg" %}"/>
    <link rel="shortcut icon" href="{% static "img/favicon/favicon.ico" %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicon/apple-touch-icon.png" %}"/>
    <meta name="apple-mobile-web-app-title" content="pfkvet"/>
    <link rel="manifest" href="{% static "img/favicon/site.webmanifest" %}"/>
{% endblock %}
{% block branding %}
<h1 id="site-name">{% trans 'Администрирование' %} {{ site_name }}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}