{% extends "catalog.html" %}
{% block content %}
<div class="div_search_panel">
	<div class="divcontent_katalog">
    	<h1 class="zagolovok">Вопросы и ответы</h1>
    </div>
</div>

<div class="div_search_panel">
	<div class="divcontent_katalog">
    	<div class="text_block">Мы готовы поставить любые виды трубного проката в кротчайшие сроки и по доступным ценам. Так же предлагаем уникальные услуги по описание услуги 1 или дополнительно описание услуги 2. Наша команда готова к заказам
        </div>
    </div>
</div>



<!---Строка первых 3-х блоков------------------------>
<div class="div_all_faq">

<!---1-й блок -->

  <div class="div_all_inner_faq">
    <div class="div_all_inner_faq_2">

<div class="div_search_panel">
    <div class="second_zagolovok_faq">Наша миссия и ценности</div>
</div>

<div class="div_search_panel">
    <div class="divcontent_faq_text_inner">
    Мы готовы поставить любые виды трубного проката в кротчайшие сроки и по доступным ценам. Так же предлагаем уникальные услуги по описание услуги 1 или 	дополнительно описание услуги 2. Наша команда готова к заказам
     </div>
</div>

    </div>
  </div>

<!---2-й блок -->

  <div class="div_all_inner_faq">
    <div class="div_all_inner_faq_2">


<div class="div_search_panel">
    <div class="second_zagolovok_faq">Наша миссия и ценности</div>
</div>

<div class="div_search_panel">
    <div class="divcontent_faq_text_inner">
    Мы готовы поставить любые виды трубного проката в кротчайшие сроки и по доступ готова к заказам
    </div>
</div>

    </div>
  </div>

<!---3-й блок -->
  <div class="div_all_inner_faq">
    <div class="div_all_inner_faq_2">

<div class="div_search_panel">
    <div class="second_zagolovok_faq">Наша миссия и ценности</div>
</div>

<div class="div_search_panel">
    <div class="divcontent_faq_text_inner">
    Мы готовы поставить любые виды трубного проката в кротчайшие сроки готова к заказам
    </div>
</div>

    </div>
  </div>
</div>
 <!---Конец cтроки первых 3-х блоков-->



 <!---Строка cледующих 3-х блоков (и так далее добавлять строки в кот. по три блока) ------------------------>
<div class="div_all_faq">

<!---1-й блок -->

  <div class="div_all_inner_faq">
    <div class="div_all_inner_faq_2">

<div class="div_search_panel">
    <div class="second_zagolovok_faq">Наша миссия и ценности</div>
</div>

<div class="div_search_panel">
    <div class="divcontent_faq_text_inner">
    Мы готовы поставить любые виды трубного проката в кротчайшие сроки и по доступным ценам. Так же предлагаем уникальные услуги по описание услуги 1 или 	дополнительно описание услуги 2. Наша команда готова к заказам
     </div>
</div>

    </div>
  </div>

<!---2-й блок -->

  <div class="div_all_inner_faq">
    <div class="div_all_inner_faq_2">


<div class="div_search_panel">
    <div class="second_zagolovok_faq">Наша миссия и ценности</div>
</div>

<div class="div_search_panel">
    <div class="divcontent_faq_text_inner">
    Мы готовы поставить любые виды трубного проката в кротчайшие сроки и по доступ готова к заказам Мы готовы поставить любые виды трубного проката в кротчайшие сроки и по доступ готова к заказамМы готовы поставить любые виды трубного проката в кротчайшие сроки и по доступ готова к заказамМы готовы поставить любые виды трубного проката в кротчайшие сроки и по доступ готова к заказамМы готовы поставить любые виды трубного проката
    </div>
</div>

    </div>
  </div>

<!---3-й блок -->
  <div class="div_all_inner_faq">
    <div class="div_all_inner_faq_2">

<div class="div_search_panel">
    <div class="second_zagolovok_faq">Наша миссия и ценности</div>
</div>

<div class="div_search_panel">
    <div class="divcontent_faq_text_inner">
    Мы готовы поставить любые виды трубного проката в крaтчайшие сроки готова к заказам
    </div>
</div>

    </div>
  </div>

 <!---Конец cтроки 3-х блоков-->

</div>
<div style="clear: both;"></div>

<!---------------- Кнопка "Показать еще"------------------------------------>

<div class="div_search_panel">
    <input class="but_faq" name="" type="button" value="Показать ещё">
</div>

<!---------------------------------------------------->

<div class="div_search_panel">
<div class="div_panel_faq">

<div class="second_zagolovok_faq_center">Задать свой вопрос</div>
<textarea class="div_input_faq"  placeholder="Задать свой вопрос"></textarea>
<div class="div_input_faq2">

<div class="div_input_faq3">
<input name="" type="checkbox" value="" checked class="checkbox_faq">
 <div class="div_input_faq4">Прислать уведомление на почту</div>
</div>

    <input class="but_faq2" name="" type="button" value="Спросить">

</div>




</div>
</div>

<!---------------------------------------------------->
<div style="clear: both;"></div>
<div class="div_clear_height_30px"></div>

{% endblock %}