{% extends "catalog.html" %}
{% block content %}

<div class="div_search_panel">
	<div class="divcontent_katalog">
    	<h1 class="zagolovok">Портфолио</h1>
    </div>
</div>
<div class="div_search_panel">
	<div class="divcontent_katalog">
        <img src="{{ STATIC_URL }}images/underconstr.png">
    </div>
</div>
<div class="div_search_panel">
	<div class="divcontent_katalog">
    	<div class="text_block">

            Страница в разработке, но уже скоро все-все появится. Не грустите
        </div>
    </div>
</div>


{% endblock %}