
<!-- All articles page-->

    {% include "sys/breadcrumb.html" %}
      <div class="allarticles-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="heading-undelined">{{ current_menu.name }}</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="category-description">
                <p class="text-content">{{ current_menu.description|safe }}</p>
              </div>
              <div class="category-description-mobile"></div>
            </div>
          </div>
          <div class="feature-list-2">
            <div class="row">
            {% for itemNews in art_list|dictsortreversed:"date" %}
              <div class="col-sm-6 col-md-6">
                <div class="articles-item">
                  <div class="media">
                    <div class="media-left"><a href="{{ itemNews.get_absolute_url_art }}"><img src="{{ MEDIA_URL }}{{ itemNews.image }}" alt="{{ current_menu.name }}" class="media-object"></a></div>
                    <div class="media-body">
                      <h4 class="media-heading">{{ itemNews.name }}</h4>
                      <div class="date-articles"><span>{{ itemNews.date|date:'m.d.Y' }}</span></div>
                      <p>{{ itemNews.description|safe }}</p><a href="{{ itemNews.get_absolute_url_art }}">подробнее</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
          </div>
         {% if art_list.paginator.page_range %}
            <div class="row">
              <div class="col-md-12">
                <div class="bs-example">
                  <ul class="pagination">
                      {% if not art_list.has_previous %}
                        <li class="disabled"><a>«</a></li>
                      {% else %}
                        <li><a href="{{ URL_PAGE_ARTICLES }}{{ art_list.previous_page_number }}/">«</a></li>
                      {% endif %}
                      {% for num in art_list.paginator.page_range %}
                          {% if num > paginatorMin and num < paginatorMax or forloop.counter == 1 or forloop.revcounter == 1 %}
                            {% if forloop.revcounter == 1 and paginatorMax < forloop.counter %}
                                <li><a>...</a></li>
                            {% endif %}
                            {% if num == art_list.number %}
                                <li class="active"><a>{{ num }}</a></li>
                            {% else %}
                                {% if forloop.counter == 1 %}
                                    <li><a href="{{ URL_PAGE_ARTICLES }}">{{ num }}</a></li>
                                {% else %}
                                    <li><a href="{{ URL_PAGE_ARTICLES }}{{ num }}/">{{ num }}</a></li>
                                {% endif %}
                            {% endif %}
                            {% if forloop.counter == 1 and paginatorMin > 2 %}
                                <li><a>...</a></li>
                            {% endif %}
                          {% endif %}
                      {% endfor %}
                      {% if not art_list.has_next %}
                        <li class="disabled"><a>»</a></li>
                      {% else %}
                        <li><a href="{{ URL_PAGE_ARTICLES }}{{ art_list.next_page_number }}/">»</a></li>
                      {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      <!-- end All articles page-->